In [2]:
from pathlib import Path
import pandas as pd
from tqdm import tqdm
from datetime import datetime, timedelta
import numpy as np

In [3]:
path = Path('.')
dataframes = {}
columns =  ['dates','subframe_n','subframe_ind','rnti','direction','mcs']
for p in list(path.glob('new_A')):
    for file in tqdm(list(p.glob('*.csv*'))):
        df = pd.read_csv(file, names = columns)
        with pd.option_context('mode.use_inf_as_null', True):
            df = df.dropna()#fillna(0)#dropna(subset=['subframe_ind', 'rnti', 'direction', 'mcs'], how='all')
        df[['subframe_ind', 'rnti', 'direction', 'mcs']] = df[['subframe_ind', 'rnti', 'direction', 'mcs']].astype(np.int)
        df.dates = pd.to_datetime(df.dates, format='%Y%m%d%H%M%S')
        dataframes[file.parts[-1]]=df#.sort_values('rnti').reset_index(drop = True)

df = pd.concat([dataframes[key] for key in dataframes.keys()])

100%|██████████| 42/42 [01:10<00:00,  1.93it/s]

In [4]:
df

                    dates  subframe_n  subframe_ind   rnti  direction  mcs
0     2017-03-23 00:00:00          28             4  46997          1   20
1     2017-03-23 00:00:01          53             5  32000          1   20
2     2017-03-23 00:00:01          85             3  45928          1    0
3     2017-03-23 00:00:01          91             9      5          1    0
4     2017-03-23 00:00:02          27             8  22109          1    4
5     2017-03-23 00:00:02          67             0   7999          1   14
6     2017-03-23 00:00:02          75             2  26023          1   10
7     2017-03-23 00:00:03          93             5  49870          1   11
8     2017-03-23 00:00:05          18             8  57414          1    7
9     2017-03-23 00:00:06          23             8  16183          1   14
10    2017-03-23 00:00:06          25             8      2          1    0
11    2017-03-23 00:00:07           4             7  21458          1    9
12    2017-03-23 00:00:09           7             8  34400          1    2
13    2017-03-23 00:00:09          17             1  57610          1    5
14    2017-03-23 00:00:09          42             3  48964          1   31
15    2017-03-23 00:00:09          64             8  50789          1    1
16    2017-03-23 00:00:09          73             0  34301          1    3
17    2017-03-23 00:00:13          79             8  64578          1   27
18    2017-03-23 00:00:14          98             4  56580          1   30
19    2017-03-23 00:00:15         890             3  15927          1    5
20    2017-03-23 00:00:17          17             8  10604          1   14
21    2017-03-23 00:00:17          20             8  45392          1   30
22    2017-03-23 00:00:17          28             7  16365          1   18
23    2017-03-23 00:00:17          31             8  47676          1   24
24    2017-03-23 00:00:17          35             8  15029          1   21
25    2017-03-23 00:00:17          54             0  53080          1   25
26    2017-03-23 00:00:17          55             0  57283          1   26
27    2017-03-23 00:00:17          65             3  62690          1   17
28    2017-03-23 00:00:17          65             8  18118          1   23
29    2017-03-23 00:00:17          71             8   1300          1    0
...                   ...         ...           ...    ...        ...  ...
20725 2017-03-29 23:59:52           4             7  28329          1   27
20726 2017-03-29 23:59:52           8             6  19086          1   24
20727 2017-03-29 23:59:52          14             2  54919          1    9
20728 2017-03-29 23:59:52          41             3  19595          1    1
20729 2017-03-29 23:59:52          75             7   9811          1   19
20730 2017-03-29 23:59:52          77             2   7407          1    5
20731 2017-03-29 23:59:52          78             2  18097          1   18
20732 2017-03-29 23:59:52          82             5   7407          1   14
20733 2017-03-29 23:59:52          92             3  16203          1   16
20734 2017-03-29 23:59:52          92             3  51004          1   10
20735 2017-03-29 23:59:52          93             2  19592          1    5
20736 2017-03-29 23:59:52          95             8  63059          1   15
20737 2017-03-29 23:59:52          98             2   9319          1   30
20738 2017-03-29 23:59:52          99             7  44921          1   10
20739 2017-03-29 23:59:53           0             7  21781          1   29
20740 2017-03-29 23:59:53           2             7  51815          1   31
20741 2017-03-29 23:59:53           8             2  38406          1   22
20742 2017-03-29 23:59:53          12             2      2          1    0
20743 2017-03-29 23:59:53          15             2  34353          1   17
20744 2017-03-29 23:59:53          27             0  51815          1   18
20745 2017-03-29 23:59:53          28             3  35773          1   14
20746 2017-03-29 23:59:53          31             7  51659          1    5
20747 2017-03-29 23:59:53          42             1  35773          1   30
20748 2017-03-29 23:59:53          45             3  38406          1    3
20749 2017-03-29 23:59:53          46             2  46155          1   18
20750 2017-03-29 23:59:56          82             6  60595          1   30
20751 2017-03-29 23:59:57          68             3  29573          1    2
20752 2017-03-29 23:59:57          90             5   5233          1   16
20753 2017-03-29 23:59:59          53             3  63580          1   17
20754 2017-03-29 23:59:59          54             6  46401          1   24

[10628508 rows x 6 columns]

In [ ]:
# rnti is renewed only when 10 seconds pass
delta_rnti_renewal = timedelta(seconds = 10)

# list where single dataframe for each user is saved
users = []
# list where last time of wach user is saved
last_time = []

# structure where on first row the index is set to 1 when rnti has been found 
# and the second row save the idnex of users and last time lists
current_users = np.zeros((65536,2), dtype = np.int)

# tqdm progress bar
with tqdm(total=len(df)) as pbar:
    for index, row in df.iterrows():
        # if already found user
        if current_users[row.rnti,0]:
            # if the current row is generated by the same rnti because the date is nearer than 10s
            if row.dates < last_time[current_users[row.rnti,1]] + delta_rnti_renewal:
                # already existing user so append the current row 
                users[current_users[row.rnti,1]].append(row)
                # save the last timestep
                last_time[current_users[row.rnti,1]] = row.dates

            else:
                # user found but the rnti has been renewed so append new data
                users.append([row])
                last_time.append(row.dates)

                current_users[row.rnti,1] = len(users) - 1
        else:
            # user not found so flag the rnti index and append the new data
            users.append([row])
            last_time.append(row.dates)

            current_users[row.rnti,0] = 1
            current_users[row.rnti,1] = len(users) - 1
        pbar.update(1)

for index, user in enumerate(users):
    users[index] = pd.DataFrame(user)
print('Found {} users'.format(len(users)))

 52%|█████▏    | 5535765/10628508 [12:03<09:44, 8711.08it/s]